body{
	background-color:lightgray;
}
.blog-column{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	gap:10px;
	
}
.item{
   width:150px;
	background-color:white;
	
}
h2,a{
	text-align:center;
}
a{
	text-decoration-line:none;
	color:black;
}
li{
	list-style-type:none;
	
}